<%- include("header") -%>

  <h1>Login </h1>
  <form action="/" method="post">
      <input type="email" name="email" value="" placeholder="Email">
      <input type="password" name="password" value="" placeholder="Password">
      <button type="submit" name="button">Login</button>
  </form>
  <a href="/register">Register New</a>

<%- include("footer") -%>
